:root {
  --gradiant: linear-gradient(rgb(12, 212, 241), rgb(126, 4, 212));
  --gradiant2: linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
  --color: rgb(126, 4, 212);
}

body {
  font-family: "Poppins", sans-serif;
}

.carhub-bg {
  background: var(--gradiant);
}
button.carhub-bg:hover {
  background: var(--gradiant2);
}

.carhub-text {
  background: -webkit-linear-gradient(rgb(12, 212, 241), rgb(126, 4, 212));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carhub-icon {
  font-size: 3rem;
}
.about-bg {
  background-image: url("./images/side.jpg");
  background-size: cover;
}
.carhub-hr {
  height: 0.25rem;
  background: var(--gradiant);
  opacity: 1;
}

.carhub-btn {
  background: white;
  color: var(--color);
  border-color: var(--color);
  text-decoration: none;
}
.carhub-btn:hover {
  background: var(--gradiant);
  color: white;
  text-decoration: none;
}

.swiper {
  height: 200px;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
  background: azure;
}
.vertical-icon {
  writing-mode: vertical-lr;
}
.vertical-text {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
}
.hover-item {
  visibility: hidden;
}
.hover-box:hover .hover-item {
  visibility: visible;
}
