:root {
  --gradiant: linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
  --color: purple;
}
body {
  font-family: "Poppins", sans-serif;
}
.carhub-bg {
  background: var(--gradiant);
}
.carhub-text {
  background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carhub-icon {
  font-size: 3rem;
}
.carousel-text {
  top: 0;
}
.about-bg {
  background-image: url("./images/side.jpg");
  background-size: cover;
}
.carhub-hr {
  height: 0.25rem;
  background: var(--gradiant);
  opacity: 1;
}
.carhub-btn {
  background: white;
  color: var(--color);
  border-color: var(--color);
}
.carhub-btn:hover {
  background: var(--gradiant);
  color: white;
}
.swiper {
  height: 200px;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
  background: azure;
}
