
body {
  font-family: 'Poppins', sans-serif;
}
.carhub-bg {
  background: linear-gradient(
    30deg,
    hsla(280, 84%, 41%, 1) 0%,
    hsla(218, 97%, 56%, 1) 100%
  );
}
.carhub-text {
  color: blue !important;
}
.carhub-icon {
  font-size: 5rem;
}
.about-bg {
  background-image: url("./images/side.jpg");
  background-size: cover;
}
